@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@layer base{
    body{
        @apply font-primary;
    }
    h1, h2, h3, h4,h5, h6{
        @apply text-heading font-semibold font-secondary;
    }
    h1{
        @apply text-5xl;
    }
    h2{
        @apply text-4xl;
    }
    h3{
        @apply text-3xl;
    }
    h4{
        @apply text-2xl;
    }
    h5{
        @apply text-xl;
    }
    h6{
        @apply text-lg;
    }
    p{
        @apply text-xl font-primary font-normal text-secondary;
    }
    a{
        @apply text-sm font-primary ;
    }
    
}

@layer components{
    .btn-primary{
        @apply text-white bg-button px-6 py-2 rounded-sm inline-block uppercase border-transparent font-semibold; 
    }
    .btn-secondary{
        @apply text-white bg-primary px-14 sm:px-7  py-3 rounded-sm inline-block uppercase border-transparent font-semibold;
    }
    .btn-secondary-2{
        @apply text-white bg-primary px-14 text-center  py-3 rounded-sm inline-block uppercase border-transparent font-semibold;
    }
    .header-right .h-menu ul   {
        @apply  text-sm font-semibold text-peraghap hover:text-heading flex gap-x-12 items-center ;
    }
    
    .mobile-menu .h-menu {
        @apply block text-center;
    }
    .mobile-menu .h-menu ul li {
        @apply  py-2 border-b-2  w-36 m-auto text-gray-100 hover:text-white;
        
    }
    .mobile-menu .h-menu .btn-primary {
        @apply bg-white text-heading block w-full max-w-[219px] m-auto mt-7;
    }
    
    .bg-img::before {   
        content: '';
        position: absolute;
        width: 200%;
        max-width: 200%;
        height: 200%;
        background-image: url(assets/img/f-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        left: 61%;
        background-position: center;
        top: 52%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .pricing-item li::before {
        content: "\f058";
        font-family: "Font Awesome 6 Free";
        position: absolute;
        left: 0;
        width: 25px;
        height: 25px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #7259fb;
        font-weight: 800;
    }
    .pricing-item li {
        position: relative;
        padding: 15px 43px;
        color: #58678C;
        font-size: 16px;
        font-weight: 400;
        border-top: 1.5px solid #e2ddfe;
    }
    .pricing-item li.cross::before {
        content: "\f056";
        color: #ff70dd;
        font-size: 25px;
    }
    .spech-sec p {
        font-size: 18px;
        font-weight: 400;
        padding: 25px 0;
    }
    .spech-sec span {
        font-size: 18px;
        margin-top: 18px;
        display: block;
        color: #2B2B52;
    }
    .list a {
        text-align: center;
        display: block;
    }
    .menutrigger span {
        height: 2px;
        width: 30px;
        background: #000;
        display: block;
    }
    .menutrigger span:nth-child(2) {
        margin: 6px 0;
    }
    .menutrigger.active span:nth-child(2) {
        opacity: 0;
    }
    .menutrigger.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-7px) translateX(4px);
    }
    .menutrigger.active span:nth-child(1) {
        transform: rotate(45deg) translateY(7px) translateX(4px);
    }


    .mobile-menu {
        position: absolute;
        top: 75px;
        width: 100%;
        left: 0;
        padding: 20px;
        background: #2B2B52;
    } 
    /* .h-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    } */







    .infity{
        position: relative;
        animation: rotation 8s linear infinite;
    }
    @keyframes rotation{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }

} 